src/pug/templates/modals/abc_profile_screen_add_location_modal.pug
extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Add location')
            p.smaller Locations found
            include ../partials/_abc_business_screen_location_table.pug
            <div class="slds-grid slds-wrap slds-m-vertical_medium">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <hr>
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12 slds-align_absolute-center">
                    <p class="text-brand text-bold text-uppercase">Don’t see what you’re looking for?</p> 
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <hr>
                </div>
            </div>
            <!-- End of bar-->
            <div class="slds-grid slds-wrap pb10">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_12-of-12">
                    <button class="slds-button slds-button_outline-brand slds-button_stretch">Create a new business
                    </button>
                </div>
            </div>
    .slds-backdrop.slds-backdrop_open

dist/ABC/modals/abc_profile_screen_add_location_modal.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/ABC/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<div class="d-flex justify-space-between">
					<h5>New Application</h5>
					<div class="help-link hidden slds-show_small">
						<i class="fas fa-info-circle pr10"></i><a>Help/Instructions</a>
					</div>
				</div><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div style="height:1040px">
		<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container business-screen-modal">
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<h6 class="text-brand slds-p-bottom_small text-uppercase text-bold">Add location</h6><p class="smaller">Locations found</p>
					<div style="overflow-x:auto;">
						<table class="slds-table">
							<thead class="">
								<th class="slds-p-around_medium">S.NO.</th>
								<th class="slds-p-around_medium">COMPANY NAME </th>
								<th class="slds-p-around_medium">ADDRESS</th>
								<th class="slds-p-around_medium">CITY AND STATE</th>
								<th class="slds-p-around_medium">ADD BUSINESS</th>
							</thead>
							<tr class="">
								<td class="slds-p-around_medium">1</td>
								<td class="slds-p-around_medium">Cedar Springs, Inc</td>
								<td class="slds-p-around_medium">2212 Starshine Parkway</td>
								<td class="slds-p-around_medium">Frankfort, KY - 40601</td>
								<td class="slds-p-around_medium">
									<button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
									</button>
								</td>
							</tr>
							<tr class="">
								<td class="slds-p-around_medium">2</td>
								<td class="slds-p-around_medium">Cedar Springs Wine & Spirits</td>
								<td class="slds-p-around_medium">12700 Townepark Way Ste 205</td>
								<td class="slds-p-around_medium">Louisville, KY - 40243</td>
								<td class="slds-p-around_medium">
									<button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
									</button>
								</td>
							</tr>
						</table>
					</div>
					<div class="slds-grid slds-wrap slds-m-vertical_medium">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<hr>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12 slds-align_absolute-center">
							<p class="text-brand text-bold text-uppercase">Don’t see what you’re looking for?</p>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<hr>
						</div>
					</div>
					<!-- End of bar-->
					<div class="slds-grid slds-wrap pb10">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_12-of-12">
							<button class="slds-button slds-button_outline-brand slds-button_stretch">Create a new business
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<ul class="footer__list">
			<li><a href="#">&copy; 2019 Kentucky ABC</a></li>
			<li><a class="text-brand" href="#">Terms of Use Agreement</a></li>
			<li><a class="text-brand" href="#">Privacy Policy</a></li>
		</ul>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>
