src/pug/templates/modals/abc_license_details_confirm_modal.pug
extends ../_default

block content
  include ../../helpers/_mixins
  div
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container
        #modal-content-id-1.slds-modal__content.slds-p-around_small.small-card-width
            <div class="slds-grid slds-wrap slds-p-left_xx-large">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    p Are you sure you want to surrender this license? This cannot be reversed.
                </div>
            </div>
            div.slds-text-align_left.slds-m-top_medium.slds-align_absolute-center
                button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Yes
                button.slds-button.slds-button_brand.slds-p-horizontal_xx-large Cancel
    .slds-backdrop.slds-backdrop_open

dist/KCPE/modals/abc_license_details_confirm_modal.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/KCPE/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<h5>Welcome to the CPE Portal!</h5><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div>
		<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">
				<div class="slds-modal__content slds-p-around_small small-card-width" id="modal-content-id-1">
					<div class="slds-grid slds-wrap slds-p-left_xx-large">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12"><p>Are you sure you want to surrender this license? This cannot be reversed.</p>
						</div>
					</div>
					<div class="slds-text-align_left slds-m-top_medium slds-align_absolute-center"><button class="slds-button slds-button_outline-brand slds-p-horizontal_xx-large">Yes</button><button class="slds-button slds-button_brand slds-p-horizontal_xx-large">Cancel</button></div>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<div class="slds-text-align_left d-inline-block margin-auto">
			<div class="d-flex justify-between">
				<div class="d-inline-block slds-m-right_medium slds-p-around_xxx-small"><img src="assets/images/foot.svg" alt=""></div>
				<div class="d-inline-block"><p class="text-bold">Have a question or need help?</p><p>View the &nbsp;<a href="https://cpe.custhelp.com/">CPE FAQ and Contact Form</a></p>
				</div>
			</div>
		</div>
		<hr><p>1024 Capital Center Drive, Frankfurt, KY 40601</p>
		<ul class="footer__list">
			<li><a href="http://cpe.ky.gov/contact.html">Contact Us</a></li>
			<li><a href="http://cpe.ky.gov/contactwebmaster.html">Report Technical Problems</a></li>
			<li><a href="http://cpe.ky.gov/findus.html">Driving Directions</a></li>
		</ul><p>(502) 573-1555</p>
		<ul class="footer__list">
			<li><a href="https://kentucky.gov/policies/Pages/default.aspx">Security</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/security.aspx">Policy</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/disclaimer.aspx">Disclaimer</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/accessibility.aspx">Accessibility</a></li>
			<li><a href="https://cpe.custhelp.com/">FAQ</a></li>
		</ul><img class="slds-m-top_x-large slds-text-align_center" src="assets/images/kentucky-logo.svg" alt=""><p>&copy; 2019 Commonwealth of Kentucky. All rights reserved.</p>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>
