src/pug/templates/modals/abc_license_details_screen_update_premises_modal.pug
extends ../_default

block content
  include ../../helpers/_mixins
  div
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container
        #modal-content-id-1.slds-modal__content.slds-p-around_large.small-card-width
            p.slds-p-bottom_small.text-bold.text-brand.text-uppercase Update/Expand Premises
            p.text-500 Explanation of premesis update/expansion
            <div class="slds-form-element__control slds-p-bottom_small">
                <textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
            </div>
            p.text-500.slds-p-bottom_small Updated premesis blueprint/documents
            div.d-flex.slds-p-bottom_x-large
                p.small.slds-p-vertical_x-small Choose a file
                button.slds-button.slds-button_outline-brand.slds-m-left_small.slds-p-horizontal_large Upload
            button.slds-button.slds-button_brand.slds-button_stretch Submit
    .slds-backdrop.slds-backdrop_open

dist/ABC/modals/abc_license_details_screen_update_premises_modal.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/ABC/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<div class="d-flex justify-space-between">
					<h5>New Application</h5>
					<div class="help-link hidden slds-show_small">
						<i class="fas fa-info-circle pr10"></i><a>Help/Instructions</a>
					</div>
				</div><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div>
		<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container">
				<div class="slds-modal__content slds-p-around_large small-card-width" id="modal-content-id-1"><p class="slds-p-bottom_small text-bold text-brand text-uppercase">Update/Expand Premises</p><p class="text-500">Explanation of premesis update/expansion</p>
					<div class="slds-form-element__control slds-p-bottom_small">
						<textarea id="textarea-id-01" class="slds-textarea" placeholder="Placeholder Text"></textarea>
					</div><p class="text-500 slds-p-bottom_small">Updated premesis blueprint/documents</p>
					<div class="d-flex slds-p-bottom_x-large"><p class="small slds-p-vertical_x-small">Choose a file</p><button class="slds-button slds-button_outline-brand slds-m-left_small slds-p-horizontal_large">Upload</button></div><button class="slds-button slds-button_brand slds-button_stretch">Submit</button></div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<ul class="footer__list">
			<li><a href="#">&copy; 2019 Kentucky ABC</a></li>
			<li><a class="text-brand" href="#">Terms of Use Agreement</a></li>
			<li><a class="text-brand" href="#">Privacy Policy</a></li>
		</ul>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>
