src/pug/templates/modals/abc_profile_screen_business_site_details_modal.pug
extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Business Site Details')
            <p class="slds-m-bottom_x-small text-brand smaller">Address Information</p>
            <table class="slds-table">
                <thead class="">
                    <th class="slds-p-around_medium">COMPANY NAME </th>
                    <th class="slds-p-around_medium">LOCATION </th>
                    <th class="slds-p-around_medium">ADDRESS</th>
                    <th class="slds-p-around_medium">CITY AND STATE</th>
                </thead>
                <tr class="">
                    <td class="slds-p-around_medium">Kentucky Alcoholic Beverage Control</td>
                    <td class="slds-p-around_medium">KY ABC - Frankfort</td>
                    <td class="slds-p-around_medium">1003 Twilight Trail</td>
                    <td class="slds-p-around_medium">Frankfort, KY - 40601</td>
                </tr>
            </table>
            <div class="slds-m-vertical_small">
                +form-field('Mark this location as a headquator', 'checkbox')
            </div>
            <p class="slds-m-bottom_x-small text-brand smaller">Verify Information</p>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-p-right_small">
                    +form-field('EIN', 'input')
                </div>
            </div>
            <div class="slds-m-vertical_small">
                <p class="text-brand smaller">Tax Information</p>
                p.smaller Tax numbers must be issued in the applicant’s name.
            </div>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Sales & Use Tax #', 'input',false)
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Without Tax #', 'input',false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-m-bottom_small">
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Ky. Corporate Tax #', 'input',false)
                </div>
                <div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
                    +form-field('Faderal EIN #', 'input',false)
                </div>
            </div>
            <div class="slds-m-vertical_small">
                <p class="text-brand smaller">Contact Information (Optional)</p>
            </div>
            <div class="slds-grid slds-wrap pb10">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact name', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact phone', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Contact email', 'input', false)
                </div>
            </div>
        footer.slds-modal__footer
          div.slds-text-align_left.slds-m-top_large
            button.slds-button.slds-button_brand.slds-p-horizontal_xx-large Save
            button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Delete
    .slds-backdrop.slds-backdrop_open

dist/KCPE/modals/abc_profile_screen_business_site_details_modal.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/KCPE/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<h5>Welcome to the CPE Portal!</h5><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div style="height:1040px">
		<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container business-screen-modal">
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<h6 class="text-brand slds-p-bottom_small text-uppercase text-bold">Business Site Details</h6><p class="slds-m-bottom_x-small text-brand smaller">Address Information</p>
					<table class="slds-table">
						<thead class="">
							<th class="slds-p-around_medium">COMPANY NAME </th>
							<th class="slds-p-around_medium">LOCATION </th>
							<th class="slds-p-around_medium">ADDRESS</th>
							<th class="slds-p-around_medium">CITY AND STATE</th>
						</thead>
						<tr class="">
							<td class="slds-p-around_medium">Kentucky Alcoholic Beverage Control</td>
							<td class="slds-p-around_medium">KY ABC - Frankfort</td>
							<td class="slds-p-around_medium">1003 Twilight Trail</td>
							<td class="slds-p-around_medium">Frankfort, KY - 40601</td>
						</tr>
					</table>
					<div class="slds-m-vertical_small">
						<div class="slds-form-element">
							<div class="slds-form-element__control">
								<div class="slds-checkbox">
									<input type="checkbox" name="options" value="checkbox-2" checked="" />
									<label class="slds-checkbox__label">
										<span class="slds-checkbox_faux"></span>
										<span class="slds-form-element__label">Mark this location as a headquator</span>
									</label>
								</div>
							</div>
						</div>
					</div>
					<p class="slds-m-bottom_x-small text-brand smaller">Verify Information</p>
					<div class="slds-grid slds-wrap slds-m-bottom_small">
						<div class="slds-col slds-size_1-of-1 slds-large-size_4-of-12 slds-p-right_small">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> EIN<abbr class="slds-required" title="required">* </abbr></label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-m-vertical_small">
						<p class="text-brand smaller">Tax Information</p><p class="smaller">Tax numbers must be issued in the applicant’s name.</p>
					</div>
					<div class="slds-grid slds-wrap slds-m-bottom_small">
						<div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Ky. Sales &amp; Use Tax #</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Ky. Without Tax #</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-m-bottom_small">
						<div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Ky. Corporate Tax #</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-size_1-of-1 slds-large-size_6-of-12 slds-p-right_small">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Faderal EIN #</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-m-vertical_small">
						<p class="text-brand smaller">Contact Information (Optional)</p>
					</div>
					<div class="slds-grid slds-wrap pb10">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Contact name</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Contact phone</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Contact email</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="slds-modal__footer">
					<div class="slds-text-align_left slds-m-top_large"><button class="slds-button slds-button_brand slds-p-horizontal_xx-large">Save</button><button class="slds-button slds-button_outline-brand slds-p-horizontal_xx-large">Delete</button></div>
				</footer>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<div class="slds-text-align_left d-inline-block margin-auto">
			<div class="d-flex justify-between">
				<div class="d-inline-block slds-m-right_medium slds-p-around_xxx-small"><img src="assets/images/foot.svg" alt=""></div>
				<div class="d-inline-block"><p class="text-bold">Have a question or need help?</p><p>View the &nbsp;<a href="https://cpe.custhelp.com/">CPE FAQ and Contact Form</a></p>
				</div>
			</div>
		</div>
		<hr><p>1024 Capital Center Drive, Frankfurt, KY 40601</p>
		<ul class="footer__list">
			<li><a href="http://cpe.ky.gov/contact.html">Contact Us</a></li>
			<li><a href="http://cpe.ky.gov/contactwebmaster.html">Report Technical Problems</a></li>
			<li><a href="http://cpe.ky.gov/findus.html">Driving Directions</a></li>
		</ul><p>(502) 573-1555</p>
		<ul class="footer__list">
			<li><a href="https://kentucky.gov/policies/Pages/default.aspx">Security</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/security.aspx">Policy</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/disclaimer.aspx">Disclaimer</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/accessibility.aspx">Accessibility</a></li>
			<li><a href="https://cpe.custhelp.com/">FAQ</a></li>
		</ul><img class="slds-m-top_x-large slds-text-align_center" src="assets/images/kentucky-logo.svg" alt=""><p>&copy; 2019 Commonwealth of Kentucky. All rights reserved.</p>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>
