dist/KCPE/modals/abc_profile_screen_add_business_partner_modal.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/KCPE/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<h5>Welcome to the CPE Portal!</h5><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div style="height:1040px">
		<section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
			<div class="slds-modal__container business-screen-modal">
				<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
					<h6 class="text-brand slds-p-bottom_small text-uppercase text-bold">Add Business Partner</h6>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label" for="select-01">Select Business</label>
								<div class="slds-form-element__control">
									<div class="slds-select_container">
										<select class="slds-select" id="select-01">
											<option value="">-Choose one-</option>
											<option>Option One</option>
											<option>Option Two</option>
											<option>Option Three</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label" for="select-01">Business Location</label>
								<div class="slds-form-element__control">
									<div class="slds-select_container">
										<select class="slds-select" id="select-01">
											<option value="">-Choose one-</option>
											<option>Option One</option>
											<option>Option Two</option>
											<option>Option Three</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12"><p class="smaller slds-p-top_large">If the business is not available in the drop down please go to Manage Business and add it.</p>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-right_medium slds-p-bottom_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<fieldset class="slds-form-element">
								<legend class="slds-form-element__legend slds-form-element__label">US Citizen</legend>
								<div class="slds-form-element__control">
									<div class="d-flex justify-between f-left">
										<span class="slds-radio radio-button-width">
<input type="radio" id="radio-45" value="radio-45" name="options" checked="" />
<label class="slds-radio__label" for="radio-45">
<span class="slds-radio_faux"></span>
										<span class="slds-form-element__label">Yes</span>
										</label>
										</span>
										<span class="slds-radio radio-button-width">
<input type="radio" id="radio-46" value="radio-46" name="options" />
<label class="slds-radio__label" for="radio-46">
<span class="slds-radio_faux"></span>
										<span class="slds-form-element__label">No</span>
										</label>
										</span>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Full Name</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Address</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> City</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> State</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Zip</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Phone Number</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Mobile Number</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Email Address</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Title</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Last 4 Digits of SSN</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> Date of Birth</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
					</div>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
							<div class="slds-form-element select-padding"><label class="slds-form-element__label"> % Of Ownership (If applicable)</label>
								<div class="slds-form-element__control">
									<input type="text" required="" class="slds-input" />
								</div>
							</div>
						</div>
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12"><label class="slds-form-element__label">List State(s) Where Person Resided in Past 5 Yrs.</label>
							<div class="border">
								<span class="slds-pill slds-pill_link pill-color">
<a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
<span class="slds-pill__label">Thakurjeet Bharwana</span>
								</a>
								<button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
									<svg class="slds-button__icon" aria-hidden="true">
										<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
									</svg>
									<span class="slds-assistive-text">Remove</span>
								</button>
								</span>
								<span class="slds-pill slds-pill_link pill-color">
<a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
<span class="slds-pill__label">Salma Foncesa</span>
								</a>
								<button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
									<svg class="slds-button__icon" aria-hidden="true">
										<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
									</svg>
									<span class="slds-assistive-text">Remove</span>
								</button>
								</span>
							</div>
						</div>
					</div>
					<div class="slds-text-align_left slds-m-top_medium"><button class="slds-button slds-button_outline-brand slds-p-horizontal_xx-large">Add</button></div>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<div class="slds-text-align_left d-inline-block margin-auto">
			<div class="d-flex justify-between">
				<div class="d-inline-block slds-m-right_medium slds-p-around_xxx-small"><img src="assets/images/foot.svg" alt=""></div>
				<div class="d-inline-block"><p class="text-bold">Have a question or need help?</p><p>View the &nbsp;<a href="https://cpe.custhelp.com/">CPE FAQ and Contact Form</a></p>
				</div>
			</div>
		</div>
		<hr><p>1024 Capital Center Drive, Frankfurt, KY 40601</p>
		<ul class="footer__list">
			<li><a href="http://cpe.ky.gov/contact.html">Contact Us</a></li>
			<li><a href="http://cpe.ky.gov/contactwebmaster.html">Report Technical Problems</a></li>
			<li><a href="http://cpe.ky.gov/findus.html">Driving Directions</a></li>
		</ul><p>(502) 573-1555</p>
		<ul class="footer__list">
			<li><a href="https://kentucky.gov/policies/Pages/default.aspx">Security</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/security.aspx">Policy</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/disclaimer.aspx">Disclaimer</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/accessibility.aspx">Accessibility</a></li>
			<li><a href="https://cpe.custhelp.com/">FAQ</a></li>
		</ul><img class="slds-m-top_x-large slds-text-align_center" src="assets/images/kentucky-logo.svg" alt=""><p>&copy; 2019 Commonwealth of Kentucky. All rights reserved.</p>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>

src/pug/templates/modals/abc_profile_screen_add_business_partner_modal.pug
extends ../_default

block content
  include ../../helpers/_mixins
  div(style='height:1040px')
    section.slds-modal.slds-fade-in-open(role='dialog', tabindex='-1', aria-labelledby='modal-heading-01', aria-modal='true', aria-describedby='modal-content-id-1')
      .slds-modal__container.business-screen-modal
        #modal-content-id-1.slds-modal__content.slds-p-around_medium
            +screen-header('Add Business Partner')
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Select Business', 'select')
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Business Location', 'select')
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                  p.smaller.slds-p-top_large If the business is not available in the drop down please go to Manage Business and add it.
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-right_medium slds-p-bottom_small slds-size_1-of-1 slds-large-size_4-of-12">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    <fieldset class="slds-form-element">
                        <legend class="slds-form-element__legend slds-form-element__label">US Citizen</legend>
                        <div class="slds-form-element__control">
                            <div class="d-flex justify-between f-left">
                                <span class="slds-radio radio-button-width">
                                    <input type="radio" id="radio-45" value="radio-45" name="options" checked="" />
                                    <label class="slds-radio__label" for="radio-45">
                                        <span class="slds-radio_faux"></span>
                                        <span class="slds-form-element__label">Yes</span>
                                    </label>
                                </span>
                                <span class="slds-radio radio-button-width">
                                    <input type="radio" id="radio-46" value="radio-46" name="options" />
                                    <label class="slds-radio__label" for="radio-46">
                                        <span class="slds-radio_faux"></span>
                                        <span class="slds-form-element__label">No</span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('Full Name', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    +form-field('Address', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('City', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('State', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Zip', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Phone Number', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Mobile Number', 'input', false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Email Address', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Title', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Last 4 Digits of SSN', 'input', false, false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_6-of-12">
                    +form-field('Date of Birth', 'input', false)
                </div>
            </div>
            <div class="slds-grid slds-wrap slds-p-bottom_small">
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_4-of-12">
                    +form-field('% Of Ownership (If applicable)', 'input', false, false)
                </div>
                <div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
                    label.slds-form-element__label List State(s) Where Person Resided in Past 5 Yrs.
                    <div class="border">
                        <span class="slds-pill slds-pill_link pill-color">
                        <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                            <span class="slds-pill__label">Thakurjeet Bharwana</span>
                        </a>
                        <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
                            <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Remove</span>
                        </button>
                        </span>
                        <span class="slds-pill slds-pill_link pill-color">
                        <a href="javascript:void(0);" class="slds-pill__action" title="Full pill label verbiage mirrored here">
                            <span class="slds-pill__label">Salma Foncesa</span>
                        </a>
                        <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Remove">
                            <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Remove</span>
                        </button>
                        </span>
                    </div>

                </div>
            </div>
            div.slds-text-align_left.slds-m-top_medium
                button.slds-button.slds-button_outline-brand.slds-p-horizontal_xx-large Add
    .slds-backdrop.slds-backdrop_open
