src/pug/dashboard.pug
extends templates/_default

block content
  if htmlWebpackPlugin.options.variables == 'ABC'
    div.container.slds-p-bottom_xx-large
      h1.h3.slds-m-bottom_medium Welcome to the new ABC portal!
      h2.h6.slds-m-bottom_large Have you changed majors or institutions since your original application? Recertify below

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_3-of-12
          button.slds-button.slds-button_brand.slds-button_stretch New Application

      include templates/partials/_tabs-horizontal
      include templates/partials/_card-approved
      include templates/partials/_card-expired
  else
    div.container.slds-p-bottom_xx-large
      h1.h3.slds-m-bottom_medium Welcome to the new CPE portal!
      h2.h6.slds-m-bottom_large Have you changed majors or institutions since your original application? Recertify below

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_3-of-12
          button.slds-button.slds-button_outline-brand.slds-button_stretch New Application

      h3.h4.slds-m-bottom_medium My Applications
      include templates/partials/_card-success
      include templates/partials/_card-in-review
      include templates/partials/_card-in-denied
      include templates/partials/_card-payment-failed.pug
      include templates/partials/_card-in-withdrawn
      include templates/partials/_card-in-progress
      include templates/partials/_card-with-pointers
      include templates/partials/_card-small
      include templates/partials/_card-small-dark
      include templates/partials/_card-small-dark
    div.container.slds-p-bottom_xx-large
      h2.h6.slds-m-bottom_xx-large Which of the following applications do you want to apply for?

      .slds-grid.slds-gutters.slds-m-bottom_xx-large
        .slds-col.slds-size_1-of-2
          include templates/partials/_card
        .slds-col.slds-size_1-of-2
          include templates/partials/_card

      include templates/partials/_card-small

      .slds-grid.slds-gutters.slds-m-top_xx-large
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta-2
        .slds-col.slds-size_1-of-3
          include templates/partials/_card-with-cta

dist/KCPE/dashboard.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/KCPE/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<h5>Welcome to the CPE Portal!</h5><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div>
	<div class="container slds-p-bottom_xx-large">
		<h1 class="h3 slds-m-bottom_medium">Welcome to the new CPE portal!</h1>
		<h2 class="h6 slds-m-bottom_large">Have you changed majors or institutions since your original application? Recertify below</h2>
		<div class="slds-grid slds-gutters slds-m-bottom_xx-large">
			<div class="slds-col slds-size_3-of-12"><button class="slds-button slds-button_outline-brand slds-button_stretch">New Application</button></div>
		</div>
		<h3 class="h4 slds-m-bottom_medium">My Applications</h3>
		<div class="slds-card has-label">
			<div class="slds-card__label is-success d-flex align-center"><p class="text-small">Approved</p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
				<div class="slds-col slds-size_3-of-12 actions">
					<div class="slds-p-left_large"><button class="slds-button slds-button_brand slds-m-bottom_medium slds-button_stretch">Update start date</button><br><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card has-label">
			<div class="slds-card__label in-review d-flex align-center"><p class="text-small">In review</p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
				<div class="slds-col slds-size_3-of-12 actions">
					<div class="slds-p-left_large"><button class="slds-button slds-button_brand slds-m-bottom_medium slds-button_stretch">Update start date</button><br><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card has-label">
			<div class="slds-card__label is-denied d-flex align-center"><p class="text-small">Denied</p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
				<div class="slds-col slds-size_3-of-12 actions">
					<div class="slds-p-left_large"><button class="slds-button slds-button_brand slds-m-bottom_medium slds-button_stretch">Update start date</button><br><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card has-label">
			<div class="slds-card__label is-denied d-flex align-center"><p class="text-small"></p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Limited Restaurant License LR100 or LR250 (KRS 241.010, KRS 242.1244, KRS 243.034)</p><p></p><span class="slds-m-right_medium">Status</span><span class="text-brand text-bold slds-m-right_xx-large text-uppercase">Payment failed</span></div>
				<div class="slds-col slds-size_3-of-12 actions">
					<div class="slds-p-left_large"><button class="slds-button slds-button_brand slds-m-bottom_medium slds-button_stretch">Update</button><br><button class="slds-button slds-button_outline-brand slds-button_stretch">Details</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card has-label">
			<div class="slds-card__label is-withdrawn d-flex align-center"><p class="text-small">Withdrawn</p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
				<div class="slds-col slds-size_3-of-12 actions">
					<div class="slds-p-left_large"><button class="slds-button slds-button_brand slds-m-bottom_medium slds-button_stretch">Update start date</button><br><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card has-label">
			<div class="slds-card__label is-submitted d-flex align-center"><p class="text-small">Submitted</p>
			</div>
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
				<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
					<div class="slds-p-left_large w-100"><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
				</div>
			</div>
		</div>
		<div class="has-pointers">
			<div class="slds-card has-label">
				<div class="slds-card__label in-progress d-flex align-center"><p class="text-small">Draft</p>
				</div>
				<div class="slds-grid slds-gutters">
					<div class="slds-col slds-size_9-of-12"><p class="h6 slds-m-bottom_large">Application Sample Name</p><p></p><span class="slds-m-right_medium">Date Submitted</span><span class="text-color-dark text-bold slds-m-right_xx-large">08/23/2019</span><span class="slds-m-right_medium">Application ID</span><span class="text-color-dark text-bold">abcdef</span></div>
					<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
						<div class="slds-p-left_large w-100"><button class="slds-button slds-button_outline-brand slds-button_stretch">View</button></div>
					</div>
				</div>
			</div>
			<div class="slds-p-around_small">
				<div class="background-grey slds-p-vertical_medium slds-p-horizontal_small"><p class="text-color-dark text-bold slds-m-bottom_medium">Pending Items</p>
					<ul class="slds-card__pointers">
						<li><span class="text-500 text-color-dark">Document(s) Required:&nbsp;</span><span>Please visit {{application ID}} (link) to upload the required documents for this application</span></li>
						<li><span class="text-500 text-color-dark">Document(s) Required:&nbsp;</span><span>Please visit {{application ID}} (link) to upload the required documents for this application</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="slds-card is-small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="slds-m-bottom_x-small text-500">Recertify your already submitted application now!</p><small>Already submitted an application? But changed major or institution? Recertify it now!</small></div>
				<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
					<div class="slds-p-left_large w-100"><button class="slds-button slds-button_brand slds-button_stretch">Recertify</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card is-small is-low-priority">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="slds-m-bottom_x-small text-500">Can’t find the program you are looking for?</p><small>If you want to register for a program that is not listed in our program, then you can submit a request for a new program.</small></div>
				<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
					<div class="slds-p-left_large w-100"><button class="slds-button small text-color has-underline">Submit New Program for Review</button></div>
				</div>
			</div>
		</div>
		<div class="slds-card is-small is-low-priority">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="slds-m-bottom_x-small text-500">Can’t find the program you are looking for?</p><small>If you want to register for a program that is not listed in our program, then you can submit a request for a new program.</small></div>
				<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
					<div class="slds-p-left_large w-100"><button class="slds-button small text-color has-underline">Submit New Program for Review</button></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container slds-p-bottom_xx-large">
		<h2 class="h6 slds-m-bottom_xx-large">Which of the following applications do you want to apply for?</h2>
		<div class="slds-grid slds-gutters slds-m-bottom_xx-large">
			<div class="slds-col slds-size_1-of-2">
				<div class="slds-card is-actionable"><p class="h6 slds-m-bottom_medium text-brand">Application Sample Name</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
			<div class="slds-col slds-size_1-of-2">
				<div class="slds-card is-actionable"><p class="h6 slds-m-bottom_medium text-brand">Application Sample Name</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
		<div class="slds-card is-small">
			<div class="slds-grid slds-gutters">
				<div class="slds-col slds-size_9-of-12"><p class="slds-m-bottom_x-small text-500">Recertify your already submitted application now!</p><small>Already submitted an application? But changed major or institution? Recertify it now!</small></div>
				<div class="slds-col slds-size_3-of-12 actions d-flex align-center">
					<div class="slds-p-left_large w-100"><button class="slds-button slds-button_brand slds-button_stretch">Recertify</button></div>
				</div>
			</div>
		</div>
		<div class="slds-grid slds-gutters slds-m-top_xx-large">
			<div class="slds-col slds-size_1-of-3">
				<div class="slds-card is-actionable">
					<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Application Sample Name</p><p class="slds-m-bottom_medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div><button class="slds-button slds-button_outline-brand slds-button_stretch">CTA text</button>
				</div>
			</div>
			<div class="slds-col slds-size_1-of-3">
				<div class="slds-card is-actionable">
					<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Application Sample Name Application</p><p class="slds-m-bottom_medium">Lorem ipsum dolor sit amet</p>
					</div><button class="slds-button slds-button_outline-brand slds-button_stretch">CTA text</button>
				</div>
			</div>
			<div class="slds-col slds-size_1-of-3">
				<div class="slds-card is-actionable">
					<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Application Sample Name</p><p class="slds-m-bottom_medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div><button class="slds-button slds-button_outline-brand slds-button_stretch">CTA text</button>
				</div>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<div class="slds-text-align_left d-inline-block margin-auto">
			<div class="d-flex justify-between">
				<div class="d-inline-block slds-m-right_medium slds-p-around_xxx-small"><img src="assets/images/foot.svg" alt=""></div>
				<div class="d-inline-block"><p class="text-bold">Have a question or need help?</p><p>View the &nbsp;<a href="https://cpe.custhelp.com/">CPE FAQ and Contact Form</a></p>
				</div>
			</div>
		</div>
		<hr><p>1024 Capital Center Drive, Frankfurt, KY 40601</p>
		<ul class="footer__list">
			<li><a href="http://cpe.ky.gov/contact.html">Contact Us</a></li>
			<li><a href="http://cpe.ky.gov/contactwebmaster.html">Report Technical Problems</a></li>
			<li><a href="http://cpe.ky.gov/findus.html">Driving Directions</a></li>
		</ul><p>(502) 573-1555</p>
		<ul class="footer__list">
			<li><a href="https://kentucky.gov/policies/Pages/default.aspx">Security</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/security.aspx">Policy</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/disclaimer.aspx">Disclaimer</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/accessibility.aspx">Accessibility</a></li>
			<li><a href="https://cpe.custhelp.com/">FAQ</a></li>
		</ul><img class="slds-m-top_x-large slds-text-align_center" src="assets/images/kentucky-logo.svg" alt=""><p>&copy; 2019 Commonwealth of Kentucky. All rights reserved.</p>
	</div>
	<script src="entry.bundle.js"></script>
	<script src="assets/js/app.js"></script>
</body>
