dist/KCPE/temporary-license.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-context-bar">
		<div class="d-flex justify-space-between container">
			<div class="slds-context-bar__primary">
				<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/KCPE/logo.png" alt="Logo"></span></div>
			</div>
			<nav class="slds-context-bar__secondary" role="navigation">
				<ul class="slds-grid">
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
					<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
					<li class="slds-context-bar__item">
						<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="has-shadow slds-p-vertical_medium slds-m-bottom_medium bg-white">
		<div class="container">
			<div class=" d-flex justify-space-between slds-grid slds-gutters slds-p-horizontal_large">
				<h5>Welcome to the CPE Portal!</h5><button class="slds-button slds-button_outline-brand">Save & Exit</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="slds-grid slds-gutters slds-m-top_large slds-p-horizontal_medium">
			<div class="slds-col slds-size_2-of-12 slds-p-left_none slds-show_small">
				<ol class="timeline">
					<li class="event completed">Instructions</li>
					<li class="event completed">Contact Information</li>
					<li class="event completed">Program and Enrollment</li>
					<li class="event active">Prior Education</li>
					<li class="event">Residency Status</li>
					<li class="event">Dependent/Independent Status</li>
					<li class="event">Armed Forces Status</li>
					<li class="event">Voter Status</li>
					<li class="event">Driver’s License Status</li>
					<li class="event">Employment Status</li>
					<li class="event">Upload documents</li>
					<li class="event">Sign and Submit</li>
				</ol>
			</div>
			<div class="slds-col slds-size_1-of-1 slds-small-size_10-of-12 slds-medium-size_8-of-12 slds-large-size_10-of-12"></div>
		</div>
	</div>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300"><!-- load font awesome-->
	<script src="https://kit.fontawesome.com/8670bfff7e.js"></script>
	<div class="slds-text-align_center small footer slds-p-horizontal_large">
		<div class="slds-text-align_left d-inline-block margin-auto">
			<div class="d-flex justify-between">
				<div class="d-inline-block slds-m-right_medium slds-p-around_xxx-small"><img src="assets/images/foot.svg" alt=""></div>
				<div class="d-inline-block"><p class="text-bold">Have a question or need help?</p><p>View the &nbsp;<a href="https://cpe.custhelp.com/">CPE FAQ and Contact Form</a></p>
				</div>
			</div>
		</div>
		<hr><p>1024 Capital Center Drive, Frankfurt, KY 40601</p>
		<ul class="footer__list">
			<li><a href="http://cpe.ky.gov/contact.html">Contact Us</a></li>
			<li><a href="http://cpe.ky.gov/contactwebmaster.html">Report Technical Problems</a></li>
			<li><a href="http://cpe.ky.gov/findus.html">Driving Directions</a></li>
		</ul><p>(502) 573-1555</p>
		<ul class="footer__list">
			<li><a href="https://kentucky.gov/policies/Pages/default.aspx">Security</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/security.aspx">Policy</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/disclaimer.aspx">Disclaimer</a></li>
			<li><a href="https://kentucky.gov/policies/Pages/accessibility.aspx">Accessibility</a></li>
			<li><a href="https://cpe.custhelp.com/">FAQ</a></li>
		</ul><img class="slds-m-top_x-large slds-text-align_center" src="assets/images/kentucky-logo.svg" alt=""><p>&copy; 2019 Commonwealth of Kentucky. All rights reserved.</p>
	</div>
	<script src="entry.bundle.js"></script>
	<script src="assets/js/app.js"></script>
</body>

src/pug/temporary-license.pug
extends templates/_default
block content
  include templates/partials/_timeline
  .container
    .slds-grid.slds-gutters.slds-m-top_large.slds-p-horizontal_medium
      .slds-col.slds-size_2-of-12.slds-p-left_none.slds-show_small
        +get_timeline('tempLicense')
      .slds-col.slds-size_1-of-1.slds-small-size_10-of-12.slds-medium-size_8-of-12.slds-large-size_10-of-12
        if htmlWebpackPlugin.options.variables == 'ABC'
          .container.d-flex.justify-space-between
            .d-flex.slds-grid.slds-grid_vertical
                .h7.text-brand EVENT DETAILS
                p Lorem Ipsum dler miniature zaserd ceasurem abhrakam kesarwami ujjwalam samprapyami
            button.slds-button.slds-button_outline-brand.slds-float_right Add an event

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_1

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_2

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_3

          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_4
          
          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_5
          
          .slds-card.has-header
            .slds-card__body
              include templates/partials/temporary-licensing/event_details_screen_01_card_6
