src/pug/license-detail/index.pug

extends ../templates/_abc
block content
    include ../helpers/_mixins
    <div class="slds-tabs_default">
      <ul class="slds-tabs_default__nav slds-p-left_xx-large" role="tablist">
          <li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">License details</a>
          </li>
          <li class="slds-tabs_default__item " title="Item Two" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="true" aria-controls="tab-default-2" id="tab-default-2__item">License options</a>
          </li>
          <li class="slds-tabs_default__item" title="Item Three" role="presentation">
            <a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Add-on license(s)</a>
          </li>
      </ul>
      <div id="tab-default-1" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            include ../templates/partials/_abc_license_details_screen_card_1.pug
        .slds-card.slds-m-horizontal_xx-large.has-header
          .slds-card__body
            include ../templates/partials/_abc_license_details_screen_card_2.pug
      </div>
      <div id="tab-default-2" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
        block content
          div.slds-m-horizontal_x-large
            .slds-grid.slds-wrap.slds-m-top_medium
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Change license type', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Change premises location', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Update/Expand Premises', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
            .slds-grid.slds-wrap.slds-p-vertical_xx-large
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Apply for Dormancy', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
              .slds-col.slds-p-horizontal_small.slds-size_1-of-1.slds-large-size_4-of-12
                +license-screen-card('Surrender License', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.', 'Change License')
      </div>
      <div id="tab-default-3" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-3__item">
        block content
          div.container
            div.slds-card.is-actionable
              .slds-card__content
                p.slds-p-bottom_small.text-bold.text-brand.text-uppercase Add-on License
                <p class="text-brand slds-m-bottom_x-small smaller">Active add-on license</p>
                <div style="overflow-x:auto;">
                  <table class="slds-table slds-m-bottom_large">
                      <thead class="">
                          <th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
                          <th class="slds-p-around_medium">APPROVAL DATE </th>
                          <th class="slds-p-around_medium">LICENSE FEE</th>
                      </thead>
                      <tr class="">
                          <td class="slds-p-around_medium">Supplemental Bar License</td>
                          <td class="slds-p-around_medium">03 July, 2019</td>
                          <td class="slds-p-around_medium">$100</td>
                      </tr>
                  </table>
                </div>
                <p class="text-brand slds-m-bottom_x-small smaller">Available add-on license(s)</p>
                <div style="overflow-x:auto;">
                  <table class="slds-table slds-m-bottom_large">
                      <thead class="">
                          <th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
                          <th class="slds-p-around_medium">PERIOD </th>
                          <th class="slds-p-around_medium">LICENSE FEE</th>
                          <th></th>
                      </thead>
                      <tr class="">
                          <td class="slds-p-around_medium">Sunday Retail License</td>
                          <td class="slds-p-around_medium">6 Month</td>
                          <td class="slds-p-around_medium">$100</td>
                          <td class="slds-p-around_medium">
                            <button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
                            </button>
                          </td>
                      </tr>
                  </table>
                </div>

      </div>
    </div>

dist/ABC/license-detail/index.html
<!-- Mixin for normal form fields eg input, select, checkbox-->
<!-- Mixin for radio button group-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Kentucky Style Guide</title>
		<link rel="stylesheet" href="/assets/css/slds.css">
		<link rel="stylesheet" href="/assets/css/app.css">
	</head>

</html>

<body>
	<div class="slds-m-bottom_large">
		<div class="slds-context-bar">
			<div class="d-flex justify-space-between container">
				<div class="slds-context-bar__primary">
					<div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover"><span class="slds-context-bar__label-action slds-context-bar__app-name"><img src="/assets/images/ABC/logo.png" alt="Logo"></span></div>
				</div>
				<nav class="slds-context-bar__secondary" role="navigation">
					<ul class="slds-grid">
						<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="Dashboard"><span class="slds-assistive-text">Current Page:</span><span class="slds-truncate" title="Home">Dashboard</span></a></li>
						<li class="slds-context-bar__item"><a class="slds-context-bar__label-action" href="javascript:void(0);" title="View Application"><span class="slds-truncate" title="Menu Item">Lorna Sharper</span></a></li>
						<li class="slds-context-bar__item">
							<div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last"><button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More"><span class="slds-icon-utility-down"></span><span class="slds-assistive-text">Show More</span></button></div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div><!-- Mixin for normal form fields eg input, select, checkbox-->
	<!-- Mixin for radio button group-->
	<div class="slds-tabs_default">
		<ul class="slds-tabs_default__nav slds-p-left_xx-large" role="tablist">
			<li class="slds-tabs_default__item slds-is-active" title="Item One" role="presentation">
				<a class="slds-tabs_default__link" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" id="tab-default-1__item">License details</a>
			</li>
			<li class="slds-tabs_default__item " title="Item Two" role="presentation">
				<a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="true" aria-controls="tab-default-2" id="tab-default-2__item">License options</a>
			</li>
			<li class="slds-tabs_default__item" title="Item Three" role="presentation">
				<a class="slds-tabs_default__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" id="tab-default-3__item">Add-on license(s)</a>
			</li>
		</ul>
		<div id="tab-default-1" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
			<div class="slds-card slds-m-horizontal_xx-large has-header">
				<div class="slds-card__body">
					<!-- Mixin for normal form fields eg input, select, checkbox-->
					<!-- Mixin for radio button group-->
					<h6 class="text-brand slds-p-bottom_small text-uppercase text-bold">Licensed Location</h6><p class="text-brand slds-m-bottom_x-small smaller">Kentucky Alcoholic Beverage Control</p>
					<div style="overflow-x:auto;">
						<table class="slds-table">
							<thead class="">
								<th class="slds-p-around_medium">LOCATION NAME </th>
								<th class="slds-p-around_medium">ADDRESS</th>
								<th class="slds-p-around_medium">CITY AND STATE</th>
								<th class="slds-p-around_medium">CONTACT PER SITE</th>
							</thead>
							<tr class="">
								<td class="slds-p-around_medium">KY ABC - Frankfort</td>
								<td class="slds-p-around_medium">1003 Twilight Trail</td>
								<td class="slds-p-around_medium">Frankfort, KY - 40601</td>
								<td class="slds-p-around_medium">Henk Fortuin</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="slds-card slds-m-horizontal_xx-large has-header">
				<div class="slds-card__body">
					<!-- Mixin for normal form fields eg input, select, checkbox-->
					<!-- Mixin for radio button group-->
					<h6 class="text-brand slds-p-bottom_small text-uppercase text-bold">NQ1 Retail Drink License (KRS 243.082)</h6>
					<div class="slds-grid slds-wrap slds-p-bottom_small">
						<div class="slds-col slds-p-right_medium slds-size_1-of-1 slds-large-size_8-of-12">
							<p class="slds-m-bottom_x-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque fringilla tellus non maximus. Morbi malesuada nisl in neque fringilla, laoreet mattis massa pulvinar. Cras quis placerat sem, vitae iaculis nisl. Sed at semper tellus. Maecenas purus justo, ullamcorper sed bibendum quis, blandit elementum elit.</p>
							<p class="text-bold">License statute: <a class="has-underline">htttps://www.link.com/link/license</a></p>
						</div>
					</div>
					<div style="overflow-x:auto;">
						<table class="slds-table">
							<thead class="">
								<th class="slds-p-around_medium">LOCATION NAME </th>
								<th class="slds-p-around_medium">ADDRESS</th>
								<th class="slds-p-around_medium">CITY AND STATE</th>
								<th class="slds-p-around_medium">CONTACT PER SITE</th>
							</thead>
							<tr class="">
								<td class="slds-p-around_medium">KY ABC - Frankfort</td>
								<td class="slds-p-around_medium">1003 Twilight Trail</td>
								<td class="slds-p-around_medium">Frankfort, KY - 40601</td>
								<td class="slds-p-around_medium">Henk Fortuin</td>
							</tr>
						</table>
					</div><p class="text-brand slds-p-top_large slds-p-bottom_small">License information</p>
					<ul class="bullet-list slds-p-left_large">
						<li>Maecenas purus justo, ullamcorper sed bibendum quis, blandit elementum elit. </li>
						<li>Donec mattis, justo sed pharetra dignissim, nulla tellus mattis leo, sed tincidunt lectus sapien quis turpis. </li>
						<li>Nulla lacus enim, hendrerit id quam nec, maximus fermentum ex. Donec ut neque laoreet, tempus leo cursus, rutrum turpis. In fringilla, mauris vel laoreet congue, lorem tellus rutrum dolor, at semper nulla nibh in enim. </li>
						<li>Morbi vel fermentum lorem. Phasellus feugiat nunc dolor, sit amet imperdiet est tempus sagittis.</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="tab-default-2" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-2__item">
			<div class="slds-m-horizontal_x-large">
				<div class="slds-grid slds-wrap slds-m-top_medium">
					<div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-card is-actionable license-card margin-auto">
							<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Change license type</p><p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p><button class="slds-button slds-button_outline-brand slds-button_stretch">Change License</button></div>
						</div>
					</div>
					<div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-card is-actionable license-card margin-auto">
							<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Change premises location</p><p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p><button class="slds-button slds-button_outline-brand slds-button_stretch">Change License</button></div>
						</div>
					</div>
					<div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-card is-actionable license-card margin-auto">
							<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Update/Expand Premises</p><p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p><button class="slds-button slds-button_outline-brand slds-button_stretch">Change License</button></div>
						</div>
					</div>
				</div>
				<div class="slds-grid slds-wrap slds-p-vertical_xx-large">
					<div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-card is-actionable license-card margin-auto">
							<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Apply for Dormancy</p><p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p><button class="slds-button slds-button_outline-brand slds-button_stretch">Change License</button></div>
						</div>
					</div>
					<div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-large-size_4-of-12">
						<div class="slds-card is-actionable license-card margin-auto">
							<div class="slds-card__content"><p class="h6 slds-m-bottom_medium text-brand">Surrender License</p><p class="slds-m-bottom_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum hendrerit mauris sit amet fringilla. Donec felis nunc, lobortis nec risus sed, mollis ultrices felis.</p><button class="slds-button slds-button_outline-brand slds-button_stretch">Change License</button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-default-3" class="slds-tabs_default__content background-grey slds-show" role="tabpanel" aria-labelledby="tab-default-3__item">
			<div class="container">
				<div class="slds-card is-actionable">
					<div class="slds-card__content"><p class="slds-p-bottom_small text-bold text-brand text-uppercase">Add-on License</p><p class="text-brand slds-m-bottom_x-small smaller">Active add-on license</p>
						<div style="overflow-x:auto;">
							<table class="slds-table slds-m-bottom_large">
								<thead class="">
									<th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
									<th class="slds-p-around_medium">APPROVAL DATE </th>
									<th class="slds-p-around_medium">LICENSE FEE</th>
								</thead>
								<tr class="">
									<td class="slds-p-around_medium">Supplemental Bar License</td>
									<td class="slds-p-around_medium">03 July, 2019</td>
									<td class="slds-p-around_medium">$100</td>
								</tr>
							</table>
						</div>
						<p class="text-brand slds-m-bottom_x-small smaller">Available add-on license(s)</p>
						<div style="overflow-x:auto;">
							<table class="slds-table slds-m-bottom_large">
								<thead class="">
									<th class="slds-p-around_medium">ADDITIONAL LICENSE NAME</th>
									<th class="slds-p-around_medium">PERIOD </th>
									<th class="slds-p-around_medium">LICENSE FEE</th>
									<th></th>
								</thead>
								<tr class="">
									<td class="slds-p-around_medium">Sunday Retail License</td>
									<td class="slds-p-around_medium">6 Month</td>
									<td class="slds-p-around_medium">$100</td>
									<td class="slds-p-around_medium">
										<button class="slds-button slds-button_outline-brand slds-p-horizontal_large">+ Add
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../entry.bundle.js"></script>
	<script src="../assets/js/app.js"></script>
</body>
